.DS_Store
build-1-0TeaserDemo-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-4Console-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-5Streams-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-6DataTypes-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-7OperatorsDataTypes-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-1-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-8GuessNumberConsole-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-9Functions-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-2-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-3-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-11QtGui-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-12GuessNumberGui-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-2-1Lamdas-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-2-2SignalsAndSlots-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-2-4QtWidgetsDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-2QtWidgetDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-3QMainWIndowDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-4QMessageBoxDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-5QPushButtonDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-6QLineEditDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-7QTextEditDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-8QLabelDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-11QVBoxLayoutDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-5-10QHBoxLayoutDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-12SizePoliciesDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-13QGridLayoutDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-14QCheckBoxAndQRadioButtonDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-15QListDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-16QComboBoxDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-17QListWidgetDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-18QTabWidgetDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-3-19MenusToolbarAndActionsDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-1QDialogDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-2QDialogButtonBox-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-4QFileDialog-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-5QFontDialog-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-6QColorDialog-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-4-6QInputDialog-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-5-1QtResourceDemo-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-6-1QPalette-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-6-2SyleSheet-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-6-3StyleSheetsExternal-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-7-1QSettings-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-8-1QFile-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-8-1QFile-Desktop_x86_darwin_generic_mach_o_64bit-Debug/

