.DS_Store
build-1-0TeaserDemo-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-4Console-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-5Streams-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
build-1-6DataTypes-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-7OperatorsDataTypes-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-1-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-8GuessNumberConsole-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-9Functions-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-2-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
build-1-10Classes-3-Desktop_x86_darwin_generic_mach_o_32bit-Debug/
